#container {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
}

#memoria {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  color: #737270;
  text-align: right;
  margin-right: 30px;
}

ion-col {
  text-align: center;
}

ion-button {
  width: 50px;
  height: 50px;
  background-color: #B02E0C;
  border-radius: 100%;
  color: #C6D8D3;
}

#res {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  text-align: right;
  padding-right: 8%;
}

.especial ion-button {
  background-color: #EB4511;
}